node_modules
dist
dist-ssr
*.local
.vite
.DS_Store
*.tsbuildinfo
Projects/
comfyui_history.txt

# Tripo / 临时模型测试输出
tripo_test_*.glb
*.glb
*.obj

# 测试产物 / 临时图
Data/trellis2_test/
Data/multiview_test_*.png


# SAM3 / 反投影测试数据
Data/SAM3_SegInfo/
Data/mask.png
